<html>
<h1>
	<center>Sighting Stats</center>
</h1>
<body>	
<main>
	<ul>
	<br>
      	<li>Minimum Latitude: {{lattitude.minimum}}</li>
	<br>
	<li>Maxiimum Latitude: {{lattitude.maximum}}</li>
     
	<br>
      	<li>Minimum Longitude: {{longitude.minimum}}</li>
	<br>
	<li>Maximum Longitude: {{longitude.maximum}}</li>
      
	<br>
      	<li>Number of Different Shift: {{shift}}</li>
      
	<br>
    	<li>Number of Differnt Age: {{age}}</li>
      
	<br>
      	<li>Number of Different Locations: {{location}}</li>
	</ul>
    	
</main>
</body>
</html>

